body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 60px;
    color: #363958;
}

h2 {
    font-size: 40px;
    color: #363958;
}

h3 {
    font-size: 20px;
    color: #363958;
}

h4 {
    color: #3E3E3E;
}

p {
    /*border: 2px solid forestgreen; */
    width: 85%;
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
}

.penguin-header {
    background-color: rgba(255, 251, 240, 1);
}

.dotted {
    margin-right: 400px;

}

.navbar-brand img {
    width: 300px;
}

.navbar li {
    font-weight: bold;
}

.orange-color-title {
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(250, 190, 76);
}

.navy-blue-title {
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(54, 57, 88);
}

.btn-buy {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: rgba(164, 188, 70, 1);
    color: white;
}

.cover-intro {
    padding-top: 60px;
}

.row img {
    width: 70%;
}

#navbarNav {
    width: 50%;
    /*border: 2px solid red;*/
}
.penguin-card {
    border-radius: 20px;
}
.penguin-card-image {
    margin: 10px auto;
    width: 334px;
    height: 350px;
    border-radius: 20px;
    background-color: rgba(241, 241, 241, 1);
    /*border: 2px solid red;*/
}
.penguin-card-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
    padding: 15px 0;

}
.penguin-card-footer {
    background-color: white;
    border: 0;
}
.price-orange-color {
    font-size: 30px;
    font-weight: bold;
    color: rgba(250, 190, 76, 1);
}
.outro-small {
    /*border:2px solid red;*/
    width: 500px;
    height: 100px;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 10px;
}
.outro-small img {
    padding-left: 30px;
    padding-right: 20px;
    width: 130px;
}
.outro-cover {
    margin-top: 30px;
}